<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Employee Information</h3>
         Name<br>
         <input type = "text" name = "nm" /></br>
         
         Age<br>
         <input type = "number" name = "age" /><br>
         
         Employee ID<br>
         <input type = "number" name = "eid" /><br>
         
         Designation<br>
         <input type = "text" name = "designation" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
<br />
      <h2><a href = "\">Back</a></h2>
      
   </body>
</html>
